<!-- {% extends 'books/base.html' %}

{% block content %}

<div class="book-detail">
    <div class="book-image">
        {% if book.image %}
            <img src="{{ book.image.url }}" width="300">
        {% else %}
            <img src="https://via.placeholder.com/300">
        {% endif %}
    </div>

    <div class="book-info">
        <h1>{{ book.title }}</h1>
        <h3>by {{ book.author }}</h3>
        <p><strong>Price:</strong> ₹ {{ book.price }}</p>
        <p>{{ book.description }}</p>

        <button>Contact Seller</button>
    </div>
</div>

{% endblock %} -->